# Build products.
/dist
/dist-newstyle
/*.tix
/.*.pid
/.*.stamp

/.cabal-sandbox
/.stack-work
/stack.yaml.lock
/cabal.config
/cabal.sandbox.config

# Generated.
/tox-spec.md

# Cross-compilation temporary source directories.
/comonad-*
/distributive-*
/entropy-*
/network-*
/cabal.project

# Temporary files.
*~
*.swp
