cache:
- '%APPDATA%\cabal'
- '%APPDATA%\ghc'

install:
- choco install ghc
- curl https://download.libsodium.org/libsodium/releases/libsodium-1.0.11-mingw.tar.gz | tar zx
- refreshenv

build_script:
- cabal update
- cabal install alex happy
- cabal install --enable-tests --enable-benchmarks --disable-documentation --only-dependencies --extra-include-dirs=%CD%\libsodium-win64\include --extra-lib-dirs=%CD%\libsodium-win64\lib

test_script:
- cabal test || type dist\test\hstox-0.0.1-testsuite.log

branches:
  only:
  - master
